<!DOCTYPE html>
<html>
  <head>
    <title>Binoculars</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= stylesheet_link_tag    "binoculars/application", "binoculars/custom",  media: "all" %>
  </head>
  <body>
    <%= render "binoculars/shared/navbar" %>
    <%= render "binoculars/shared/sidebar" %>

    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
