<h1>Requests</h1>

<table>
  <thead>
    <tr>
      <th>Method</th>
      <th>Path</th>
      <th>Status</th>
      <th>Time</th>
      <th>Duration (ms)</th>
    </tr>
  </thead>
  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td><%= log[:method] %></td>
        <td><%= log[:path] %></td>
        <td><%= log[:status] %></td>
        <td><%= log[:time].strftime("%b %d, %Y %I:%M:%S %p") %></td>
        <td><%= (log[:duration] * 1000).round(2) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
